<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Monitoring LDR</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    <div class="card">
        <h1>LDR Sensor Monitoring<h1>
        <div class="value" id="ldr-val">0</div>
        <div class="status" id="status-text">Starting...</div>
        <div class="status">Dark Timer : <span id="timer-val" class="timer">0</span>/30</div>
    </div>

    <script>
        function updateData() {
            fetch('/get_data')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('ldr-val').innerText = data.ldr_value;
                    document.getElementById('status-text').innerText = data.status;
                    document.getElementById('timer-val').innerText = data.timer;
                });
        }
        // Update setiap 500ms
        setInterval(updateData, 500);
    </script>
</body>
</html>